@page "/greeter"

<h3>Greeter</h3>
<h5>@name</h5>
<MudTextField @bind-Value="inputValue" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
<MudButton Variant="Variant.Filled" Color="Color.Info" @onclick="CallService">Call service</MudButton>